name: 01 - Building Blocks
on:
  workflow_dispatch:
    inputs:
      greeting:
        description: "The greeting to use in the job"
        required: false
        default: "Hello"

jobs:
  echo-hello:
    runs-on: ubuntu-latest
    steps:
      - name: Echo Hello
        run: echo "Hello, World!"
    
  echo-goodbye:
    runs-on: ubuntu-latest
    steps:
      - name: Failed step
        run: |
          echo "This step will fail"
          exit 0

      - name: Say Goodbye
        if: ${{ always() }}
        run: echo "Goodbye, World!"