name: Testing manual approval
on:
  push:
    branches:
      - main
jobs:
  stage1:
    runs-on: ubuntu-latest
    steps:
      - name: Echo Job
        run: echo "This is the first stage."
  approval:
    needs: stage1
    runs-on: ubuntu-latest
    environment:
      name: prod
    steps:
      - name: Manual Approval

        run: echo "This job requires manual approval to proceed."
  stage2:
    needs: approval
    runs-on: ubuntu-latest
    steps:
      - name: Echo Job
        run: echo "This is the second stage after approval."

  approval2:
    needs: stage2
    runs-on: ubuntu-latest
    steps:
      - name: Slash Command Approval
        uses: peter-evans/slash-command-dispatch@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commands: approve
          reaction-token: ${{ secrets.GITHUB_TOKEN }}
  stage3:
    needs: approval2
    runs-on: ubuntu-latest
    steps:
      - name: Echo Job
        run: echo "This is the third stage after slash command approval."